body{
	background-image: linear-gradient(to right top, #252525, #474747, #6d6c6d, #949495, #bebebf, #c4cad4, #c4d8e7, #bee7f7, #86dce8, #47d0cb, #00c2a0, #00b16a);
	margin-top: 0px;
	width: 100%;
	display: flex
	justify-content: space-between;
	text-align: center;
}
.navbar-top{
	background-color: #252525;
	color:white;
	font-size: 20px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 0px 0px 15px 15px;

}
.navbar-top .info{
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	background-color:#252525;
	flex-grow:3;
	border-radius: 0px 0px 15px 15px;
}
.navbar-top .info div{
	justify-content: flex-start;
	margin-right:10px;
}
.navbar-top .social{
	display:flex;
	margin-left: auto;
	background-color:#252525;
	justify-content: flex-end;
	flex-grow:3;
	border-radius: 15px;
}
.navbar-top .social div{
	margin-left:10px;
	size: 10px;
}
.navbar-top .social div a img{
	size: 10px;
}
.navbar-second{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.navbar-second .aditional-info{
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-grow:3;
}
.navbar-second .logo div{
	margin-left: 10px;
}
.navbar-second .logo div img{
	height:100px;
}
.navbar-second .aditional-info div{
	font-size: 17px;
	margin-left:10px;
	justify-content:center;
	text-align: center;
	padding-top:20px;
}
.navbar-second .aditional-info div img{
	height:30px;
	display: inline-block;
	margin-right: 10px;
	margin-top: -30px;

}
.menu{
	background-color: #00B16A;
	color:#00B16A;
	font-size: 20px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.menu-left {
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	background-color:#00B16A;
	color:#252525;
}
.menu-left div{
	margin-right:20px;
	padding:10px;
	
}
.menu-left div a{
	text-decoration:none;
	color: #252525;
}
.login{
	display:flex;
	justify-content: flex-end;
	margin-right:10px;
	margin-top: 9px;
	margin-bottom: 8px;
	border-radius: 7px;
	background-color: #00B16A;
	font-size: 20px;
	color:#252525;
}
.breadcrumbs{
	max-width: 100%;
	height:auto;

}
.container{
	max-width: 900px;
	margin: 0 auto;
}
.material-icons{
	margin-left:5px;
	margin-top: 9px;
	margin-right:-8px;
}
.myCarousel{
	height: 400px;
}

.box-container{

}
.box{
	float:left;
	width:32%;
	height: 300px;
	background-color: #00B16A;
	margin-bottom: 10px;
	margin-left: 1%;
	text-align: center;
	padding:30px 0;
	padding-left:10px;
	border-radius: 15px;
	opacity: 0.9;
}
.box-flex{
	display:flex;
	flex-wrap:wrap;

}
.box-flex .box{
	width:32%;
}
.clearfix{
	overflow:auto;
}
.cepredam img{
	max-width: 1080px;
}
.imagineverde img{
	width: 100%;
}
.cevagradient{
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:250px;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    font-family: sans-serif;
    background-color: #1ab979;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 3px 3px 5px #000000;
    opacity: 0.7;
}
.box2{
	float:left;
	width:32%;
	height: 238px;
	background-color: #252525;
	margin-bottom: 10px;
	margin-left: 1%;
	text-align: center;
	padding:30px 0;
	padding-left:10px;
	border-radius: 15px;
	opacity: 0.9;
}

.footer_list li a {
  border-left: 5px solid red;
  background-color: #1ab979;
  list-style-type: none;
  padding: 1px 6px;
  color: white;
  text-decoration: none;
}
.footer_list li{
	list-style-type: none;
}
.submit2 {
	display:flex;
	justify-content: flex-end;
	margin-top: 71px;
	margin-bottom: 8px;
	border-radius: 7px;
	background-color: #00B16A;
	font-size: 20px;
	color:#252525;
	margin-left:119px;
}

@media (min-width: 1200px).container{
	max-width: 1140px;
}
